* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", serif;
}
body {
  /* border: 1px solid black; */
  width: 1280px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
/* Navbar start */
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.nav_logo {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}
.nav_btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
}
/* Navbar end */

/* Banner start */
.banner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 80px 60px;
  background-color: #c6e4d6;
  border-radius: 24px;
}
.banner_title {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
.banner_desc {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
}
.common_btn {
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  background-color: #006a50;
}
/* Banner end */

/* Pillars of "Bangladesh 2.0" start */
.pillars_container {
  margin-top: 80px;
}
.pillars_title {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 32px;
}
.pillars_cards_box {
  display: flex;
  gap: 24px;
}
.pillars_card {
  width: 302px;
  background-color: white;
  padding: 24px;
  border-radius: 16px;
}
.pillars_card_title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
  margin: 24px 0 12px 0;
}
.pillars_card_desc {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
/* Pillars of "Bangladesh 2.0" end */

/* The Vision of Future start */
.vision_container {
  margin-top: 80px;
}
.vision_title {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.vision_desc {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.vision_cards_box {
  display: flex;
  gap: 24px;
}
.vision_common {
  width: 410px;
  padding: 32px;
  border-radius: 16px;
}
.vision_common .vision_img_box {
  width: 64px;
}
.vision_common .vision_img_box img {
  width: 100%;
}
.vision_card_one {
  background-color: rgba(84, 144, 245, 0.2);
}
.vision_card_two {
  background-color: rgba(198, 228, 214, 1);
}
.vision_card_three {
  background-color: rgba(247, 235, 207, 1);
}
.vision_card_title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
  margin: 24px 0 12px 0;
}
.vision_card_desc {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}
.vision_btn {
  font-weight: 600;
  color: white;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}
.vision_card_one button {
  background-color: #5490f5;
}
.vision_card_two button {
  background-color: #09a15c;
  margin-top: 25px;
}
.vision_card_three button {
  background-color: #ffc239;
}
/* The Vision of Future end */

/* Republic of Bangladesh start */
.republic_container {
  margin-top: 32px;
  padding: 48px 24px;
  background-color: white;
  border-radius: 16px;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top 20px left 22px;
}
.republic_desc {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.republic_tile {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 4px;
}
.republic_sub-tile {
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.6);
}
/* Republic of Bangladesh end */

/* Your Opinion Matters start */
.opinion_container {
  margin-top: 80px;
}
.opinion_title {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.question_box {
  padding: 32px;
  background-color: white;
  border-radius: 16px;
}
.question_title_box {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
  background-color: #c6e4d6;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
}
.question_list {
  display: flex;
  /* justify-content: space-between; */
}
.list_box {
  width: 1017px;
  padding: 36px 0 36px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.question_list button {
  padding: 10px 16px;
  font-weight: 500;
  background-color: #c6e4d6;
  border-radius: 4px;
}
.list_btn {
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.list_btn i {
  font-size: 15px;
}
/* Your Opinion Matters end  */
